body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 15px;
}

/* left navbar */

.navleft {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
}

.navleft li {
    display: inline;
}

.navleft li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.navleft li a:hover {
    color: #FF2A57;
}

/* mid navbar */

.navmid {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

.navmid li {
    display: inline;
    margin-right: 20px;
    padding-right: 2rem;
    padding-left: 2rem;
}

.navmid li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.navmid li a:hover {
    color: #FF2A57;
}

/* right navbar */

.navright {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
}

.navright li {
    display: inline;
}

.navright li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.navright li a:hover {
    color: #FF2A57;
}