body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(120deg, #1f1f1f 65%, #FF005A 35%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1000;
}

.navbar-left {
    flex: 1;
}

.navbar-left .brand {
    color: #FF005A;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.navbar-right {
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: flex-end;
}

.navbar-right .nav-link,
.navbar-right .nav-icon {
    color: #ffffff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-right .nav-icon i {
    font-size: 24px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    color: #FF005A;
    transform: translateY(-2px);
}

.navbar a:before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #FF005A;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:hover:before {
    width: 100%;
    left: 0;
}

.navbar a:hover {
    text-shadow: 0 0 8px rgba(255, 0, 90, 0.7);
}

.navbar-left .brand:hover {
    text-shadow: 0 0 8px rgba(255, 0, 90, 0.7);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.card {
    background: linear-gradient(120deg, #1f1f1f 65%, #FF005A 35%);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    margin: 0 15px;
    max-width: 30rem;
    width: 100%;
    transition: transform 0.3s ease;
    
}

.card:hover {
    transform: translateY(-5px);
    
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 18px;
    margin-bottom: 10px;
}

.title-container {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.main-title {
    color: #FF005A;
    font-size: 36px;
    margin-bottom: 10px;
}

.made-by {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
}

.line {
    border: 1px solid #FF005A;
    width: 50%;
    margin: auto;
}